  <section>
    <nav class="nav sharing-icons">
      <span class="pr-3">{{ i18n "share" }}</span>
      <a class="nav-item" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share on Facebook"><span class="fab fa-facebook-f" aria-hidden="true"></span></a>
      <a class="nav-item" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}" title="Share on LinkedIn"><span class="fab fa-linkedin-in" aria-hidden="true"></span></a>
      <a class="nav-item" href="https://twitter.com/intent/tweet?url={{ .Permalink }}&amp;text={{ .Title }}" title="Tweet this"><span class="fab fa-twitter"></span></a>
    </nav>
  </section>

{{- /* vim: set ts=2 sw=2 et: */}}
